@import '../styles/custom-media.css';

.root {
  padding: 0 0 10rem;
  margin: 0 auto;
}

.mainImage {
  position: relative;

  @nest & img {
    width: 100%;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1.8rem;
  margin-bottom: 3rem;

  @media (--media-min-medium) {
    grid-template-columns: 1fr 1fr;
  }
}
