@import '../styles/custom-media.css';

.root {
  position: relative;
  z-index: 100;
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto 1rem;
  padding: 1rem;
  display: flex;
  border-bottom: 1px solid black;

  @media (--media-min-small) {
    padding: 1.5em 1.5em;
  }
}

.title {
  font-weight: 600;
  flex: 1;

  @nest & a {
    display: inline-block;
    padding: 0.5em;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.2rem;
  }
}

.toggleNavButton {
  appearance: none;
  font-size: 25px;
  border: none;
  background: none;
  margin: 0;
  padding: calc(14 / 17 / 2 * 1rem);
  outline: none;
  color: inherit;

  & svg {
    display: block;
    fill: inherit;
  }

  @media (--media-min-small) {
    display: none;
  }
}

.nav {
  display: none;

  @nest & ul {
    margin: 0;
    padding: 0;
  }

  @nest & ul li {
    //transform: rotate(-90deg);
    margin-right: 2rem;
  }

  @nest & ul li a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 0;
    box-shadow: 0 1px 0 0 black;

    @nest &:hover {
      opacity: .5;
    }

    @nest &.active {
      font-size: 2rem;
      box-shadow: none;
    }
  }

  @media (--media-max-small) {
    position: absolute;
    background: white;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    left: 0;
    right: 0;
    top: 4.3rem;

    @nest & ul {
      padding: 1rem 0;
    }
  }

  @media (--media-min-small) {
    display: block;

    @nest & ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.showNav {
  display: block;
}
