@import '../styles/custom-media.css';

.root {
  position: relative;
  z-index: 100;
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2rem;
  display: flex;

  @media (--media-min-small) {
    padding: 1.5em 1.5em;
  }
}

.logo {
  width: 10rem;
  align-self: center;
  margin-right: 3rem;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  max-width: 800px;
  margin: 0 auto 0 0;
  padding: 0 1.5em;

  @nest & a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: .8rem;
    font-size: 1.4rem;
    line-height: 1;

    @nest &:hover {
      opacity: 1;
    }

    @nest &.active {
      color: blue;
      text-decoration: underline;
      font-style: italic;
    }
  }
}

.smiley {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  width: 2em;
  height: 2em;
}
