@import '../styles/custom-media.css';

.root {
  position: relative;
  z-index: 100;
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  border-bottom: 1px solid black;
  background: #fff;

  @media (--media-min-small) {
    padding: 1.5em 1.5em;
  }
}

.logo {
  width: 10rem;
  align-self: center;
  margin-right: 3rem;
}

.about {
  margin-right: 0;
  margin-left: auto;
  max-width: 26rem;
  font-family: 'bookman-jf-pro', serif;
}

.nav {
  display: block;
  position: fixed;
  width: 100%;
  text-align: right;
  position: absolute;
  top: 0;
  left: 100%;
  transition: all .5s linear;
  transform-origin: 0 0;
  transform: rotate(-90deg) translate(-100%, -100%);

  @nest & a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: .8rem;
    font-size: 1.4rem;
    line-height: 1;
    background: white;
    border-top: 1px solid black;

    @nest &.active {
      display: none;
    }
    @nest &:hover {
      opacity: 1;
    }
  }
}
