@import '../styles/custom-media.css';

.projectGrid {
  margin: 0 0 2rem;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.projectGrid > div:nth-of-type(odd) {
  transform: translate(1rem, 1rem);
}
.projectGrid > div:nth-of-type(even) {
  transform: translate(1rem, -1rem);
}

.about {
  font-family: 'bookman-jf-pro', serif;
  transform: none !important;
}
