@import '../styles/custom-media.css';

.content {
  min-height: calc(100% - 73px - 120px);
  animation: fadeIn 1s ease-in-out;
  animation-fill-mode: forwards;

  @nest &.about {
    animation-name: fadeDown;
  }

  @nest &.project {
    animation-name: fadeUp;
  }

  @media (--media-min-small) {
    min-height: calc(100% - 88px - 150px);
  }
}

@keyframes fadeIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.footer {

  @nest & a {
    color: inherit;
    text-decoration: none;
  }
}

.footerWrapper {
  box-sizing: border-box;
  padding: 4.5em 1.5em 1.5em;
  margin: 0 auto;

  @media (--media-min-small) {
    padding: 6em 2em 2em;
  }
}

.companyAddress {
  text-align: center;
  margin: 0 0 1rem;
}

.siteInfo {
  text-align: center;
}
