.root {
  margin: 2em 0 4em;
}

.feed {
  margin: 0;
  padding: 0;
  list-style: none;

  @nest & li {
    margin: 8rem auto;
    max-width: 30rem;
  }
}

.quote {
  margin: 0 auto 1rem;
  font-size: 2rem;
  font-family: "bookman-jf-pro", serif;
  line-height: 1.2;
}

.source {
  color: inherit;
  text-decoration: none;
}
