@import '../styles/custom-media.css';

.grid {
  margin: 0 0 10rem;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.8rem;

  @media (--media-min-medium) {
    grid-template-columns: 1fr 1fr;
  }

  @media (--media-min-large) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.categories {
  list-style: none;
}

.categoryFilter {
  list-style: none;
  margin: 0 0 2rem;
  padding: 0;
}

.categoryFilterButton {
  display: inline-block;
  margin-right: 1.5rem;
  text-decoration: underline;
}

.categoryFilterButton:hover {
  opacity: .5;
}
