@import '../styles/custom-media.css';

.root {
  padding: 1rem 0 10rem;
}

.mainImage {
  position: relative;
  background: #eee;
  padding-bottom: calc(9 / 16 * 100%);

  @nest & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1.8rem;

  @media (--media-min-medium) {
    grid-template-columns: 3fr 1fr;
  }
}

.title {
  text-align: left;
  font-weight: bold;
  font-size: 1.2rem;
}

.categories {
  margin: 2rem 0 3rem;

  @nest & ul {
    list-style: none;
    margin: 0.75rem 0;
    padding: 0;
  }

  @nest & ul li {
    font-style: italic;
  }
}

.relatedProjects {
  margin: 2rem 0 3rem;

  @nest & ul {
    list-style: none;
    margin: 0.75rem 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @nest & h2 {
    font-size: 1rem;
  }

  @nest & a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    padding: 0.25rem 0;
  }
}

.relatedProjectsHeadline {
  margin: 0.5rem 0 0;
}

.gallery {
  width: 100%;
}

.galleryOneColumn {
  width: 100%;
}

.galleryTwoColumn {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
