@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  margin: 2em 0 4em;
}

.grid {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;

  @media (--media-min-small) {
    grid-template-columns: 1fr 1fr;
  }

  @media (--media-min-medium) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.sketchthumb {
  cursor: pointer;

  position: relative;

  @nest & img {
    position: relative;
    width: 100%;
  }
}