@import url("https://use.typekit.net/csj5zkc.css");
@import url('https://fonts.googleapis.com/css?family=Poppins:500,500i,600,600i&display=swap');


:root {
  --sans-serif: 'poppins', sans-serif;
  --serif: 'bookman-jf-pro', serif;
}

html {
	--base-font-size: calc(16px + 6 * ((100vw - 320px) / 1600));
}

body {
 	--bg-color: #fff;
 	--bg-content-color: #fff;
 	--color-text: #111;
  --content-width: 860px;
  --header-height: 80px;
  --radius: 5px;

  --spacing-m: 2rem;
}

@media screen and (max-width: 650px) {
	body {
		--spacing-m: 1rem;
		--header-height: 60px;
	}
}

/* MEDIA QUERIES — — — — — — — — — — — — */

$media-s: 830px;
$media-m: 1200px;
$media-l: 1600px;
$media-xl: 1900px;
